/*
 * Roboto
 */
@font-face {
  font-family: 'roboto-bold';
  src: url('./fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-regular';
  src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-light';
  src: url('./fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*
 *
 * Opent-sans
==============================================================================
*/
@font-face {
  font-family: 'openSans-light';
  src: url('./fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'openSans-regular';
  src: url('./fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'openSans-semiBold';
  src: url('./fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'openSans-Bold';
  src: url('./fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'deutschlander';
  src: url('./fonts/deutschlander/Deutschlander.otf') format('opentype')
}




