/**-------------------------------GENERAL-----------------------------**/
*, ::after, ::before {
  box-sizing: border-box;
}

html {
	font-size: 10px;
  scroll-behavior: smooth;
}

html, body {
	height: 100%;
}

body {
  background-color: var(--background-primary);
  color: var(--gray-font-color);
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-family: "openSans-regular", "roboto-regular";
  line-height: 3rem;
}
/*-------------------------------COLORS-------------------------------*/
:root {
  --background-header: #161a22;
  --background-primary: #0d1117; /*dark*/
  --background-secondary: #1c2128; /*light*/
  --background-dark: #010409;
  --background-ternary: #21262d; /*lighter*/
  --border-color: #30363d;
  --red: #ef5466;
  --green: #00b13d;
  --blue: #58a6ff;
  --blue-heavy: #486dbb;
  --blue-light: #599fd0;
  --white-font-color: #f0f6fc;
  --title-font-color: #c9d1d9;
  --gray-font-color: #8b949e;
  --color-alert-success-bg: rgba(46,160,67,0.1);
  --color-alert-success-border: rgba(46,160,67,0.4);
  --color-alert-success-text: #56d364;
  --color-alert-info-bg: rgba(56,139,253,0.1);
  --color-alert-info-text: #79c0ff;
  --color-alert-info-border: rgba(56,139,253,0.4);
  --color-btn-shadow: 0 0 transparent;
  --color-btn-inset-shadow: 0 0 transparent;
  --color-btn-hover-bg : #30363d;
  --color-btn-hover-border: #8b949e;
}
.gray-font-color {
  color: var(--gray-font-color);
}

/*--------------------------FONT WEIGHT-----------------------------*/
.f-w-300 {
  font-weight: 300;
}
.f-w-400 {
  font-weight: 400;
}
.f-w-500 {
  font-weight: 500;
}
.f-w-700 {
  font-weight: 700;
}
.f-w-900 {
  font-weight: 900;
}

/**
 * links
 * -------------------------------------------------------------------
 */
a, a:visited {
  color: var(--blue);
  text-decoration: none;
}
a:hover, a:focus, a:active {
  cursor: pointer;
	color: var(--blue);
  text-decoration: underline;
}

/**
 * ===================================================================
 * typography & general theme styles
 *
 * -------------------------------------------------------------------
 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "openSans-semiBold", "roboto-bold", sans-serif;
	font-style: normal;
}
h1 {
	font-size: 2.4rem;
  color: var(--white-font-color);
  margin: 0 0 8px;
}
h2 {
  font-size: 1.5rem;
  color: var(--title-font-color);
}
.mb-3 {
  margin-bottom: 8px;
}
.mr-6 {
  margin-right: 6px;
}
p {
  margin: 0 0 10px;
}
.sub-head {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 16px;
}
strong {
  color: var(--title-font-color);
  text-transform: capitalize;
}
.table {
  width: 100%;
  margin-left: 0;
  padding: 8px 16px;
}
/*.table:hover {
  background-color: var(--background-secondary);
}
*/
.border-top {
  border: 1px solid var(--border-color);
  border-radius: 6px 6px 0 0;
}
.border-middle {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.border-bottom {
  border-radius: 0 0 6px 6px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
/*padding left*/
.pl0 {
  padding-left: 0;
}
.pr0 {
  padding-left: 0;
}
/*background*/
.bg-secondary {
  background-color: var(--background-secondary);
}
/*flex*/
.flex {
  display: flex;
  flex-wrap: wrap;
}
/*flex-center*/
.flex-center {
  justify-content: center;
  align-items: center;
}
.alert-skill-btn {
  padding: 5px 16px;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  margin: 8px 8px 8px 0;
}
.skill-btn--green {
  background-image: linear-gradient(
    var(--color-alert-success-bg),
    var(--color-alert-success-bg)
  );
  border-color:var(--color-alert-success-border);
  color: var(--color-alert-success-text);
}
.skill-btn--blue {
  background-image: linear-gradient(
    var(--color-alert-info-bg),
    var(--color-alert-info-bg)
  );
  border-color:var(--color-alert-info-border);
  color: var(--color-alert-info-text);
}

blockquote {
	margin: 3rem 0;
	padding-left: 4rem;
	position: relative;
}
blockquote:before {
	content: "\201C";
	font-size: 8rem;
	line-height: 0px;
	margin: 0;
	color: var(--white-font-color);
	font-family: arial, sans-serif;
	position: absolute;
	top: 3rem;
	left: 0;
}
blockquote p {
	font-family: "openSans-bold", georgia, serif;
  color: var(--white-font-color);
	padding: 0;
	font-size: 2.5rem;
	line-height: 1.737;
}
/*------------------------------BUTTONS------------------------------*/
/*------------Blue-button--------------*/
.btn,
.link-btn,
button {
  font-family: "openSans-regular", "roboto-regular", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid;
  border-radius: 6px;
  cursor: pointer;
  text-transform: capitalize;
  display: inline-block;
  border-color: initial;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 16px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.btn,
.link-btn,
button {
  background-color: var(--background-ternary);
  box-shadow: var(--color-btn-shadow), var(--color-btn-inset-shadow);
  border-color: var(--border-color);
  color: var(--title-font-color) !important;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  text-decoration: none !important;
}
.btn:hover,
button:hover,
.btn:focus,
button:focus {
  background-color: var(--color-btn-hover-bg);
  border-color: var(--color-btn-hover-border);
  transition-duration: .1s;
}
/*----------------------------BACK TO TOP------------------------*/
#back-to-top {
  position: fixed;
  display: none;
  background: var(--red);
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}
#back-to-top i {
  padding-top: 12px;
  color: #fff;
}

/*---------------------------HEADER-NAVBAR--------------------------------*/
.s-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header-nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--background-header);
  font-family: "openSans-semiBold", "roboto-bold", sans-serif;
  font-size: 1.5rem;
}
.header-nav-main {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
  flex-wrap: nowrap;
  height: 100%;
}
.header-nav-main li {
  flex: 1 0 auto;
  text-align: center;
  margin-left: 2.5rem;
}
.header-nav-main li a {
  padding: 1.5rem 0;
  text-decoration: none;
  color: var(--white-font-color);
}
.header-nav-main li a:hover {
  color: var(--gray-font-color);
}
.navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "openSans-semiBold", "roboto-bold", sans-serif;
  font-size: 1.6rem;
}
.brand-link {
  text-decoration: none !important;
  color: var(--title-font-color) !important;
}
.brand-link:hover {
  color: var(--gray-font-color) !important;
}
.navbar-brand .profil-picture,
.navbar-brand span {
  margin-right: 1rem;
}

.navbar-brand .green-activity {
  border-radius: 50%;
  height: 13px;
  width: 13px;
  background: var(--green);
}
.navbar-brand .profil-picture {
  width: 3rem;
  border-radius: 50%;
}
.navbar-toggler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-item: center;
  height: 40px;
  width: 40px;
}

.navbar-toggler span {
  display: none;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin-bottom: 6px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1;
}
.navbar-toggler span:nth-child(3) {
  margin-bottom: 0;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: -webkit-transform .15s ease-in-out;
  transition: transform .15s ease-in-out;
  transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
}

.navbar-toggler.is-clicked span:nth-child(1) {
  position: absolute;
  margin-bottom: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0.9;
}

.navbar-toggler.is-clicked span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}
.navbar-toggler.is-clicked span:nth-child(3) {
  margin-bottom: 0;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity: 0.9;
}
.navbar-collapse {
  display: none;
}
.navbar-collapse .header-nav-main {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 20px;
}
/*------------------------SECTIONS-FORMATING--------------------------*/
section {
  margin-top: 10rem;
  padding: 0 auto;
}

section:nth-child(2) {
  margin-top: 0;
}
/*-----------------------------INTRO-IMAGE----------------------------*/
.s-intro {
  display: flex;
  flex-direction: collumn;
  background-color: var(--background-header);
  width: 100%;
  height: 100vh;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s-intro .contact-icon {
  color: var(--white-font-color);
  margin-top: 1.5rem;
  font-size: 2.5rem;
}
.s-intro .contact-icon:hover {
  color: var(--gray-font-color);
}
.s-intro .presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
/*slide show*/
.s-intro .intro-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-intro .intro-image img {
  max-width: 80%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.s-intro .date-time {
  font-family: "rajdhani-medium", sans-serif;
  text-align: center;
  padding-top: 10rem;
}
.s-intro .date-time p:nth-child(1) {
  font-size: 8rem;
  margin-top: 0;
  margin-bottom: 2rem;
}
.s-intro .date-time p:nth-child(2) {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.text-intro__title {
  font-family: "deutschlander", "openSans-semiBold", sans-serif;
}
.text-intro__sub {
  font-family: "deutschlander", "openSans-semiBold", sans-serif;
}
.text-intro__desc {
  font-family: "roboto-regular", "openSans-semiBold", sans-serif;
}
/*---------------------------------ABOUT--------------------------------*/
.s-about .about-container {
  background-color: var(--background-primary);
}
.box {
  margin-bottom: 10px;
}
.box h2 {
  font-size: 1.8rem;
}
.skill-box {
  margin-bottom: 20px;
}
.section-intro {
  border-radius: 6px;
}
.section-intro h1 {
  color: var(--title-font-color);
  text-transform: capitalize;
}
.section-intro h2 {
  text-transform: capitalize;
}
.skill-lists {
  margin-top: 6rem;
}
/*--------------------------------WORK-PROJECT--------------------------*/
.s-portfolio .card {
  border: 1px solid black;
  font-family: "lemonjelly", sans-serif;
  font-size: 5rem;
  position: relative;
  background-color: #525dad;
  width: 275px;
  height: 275px;
  border-radius: 6px;
  color: var(--white-font-color);
  margin: 12px 0;
}
.s-portfolio .card:hover {
  box-shadow: 0 10px 20px 0 var(--background-dark);
}
.s-portfolio .card-title {
  text-align: center;
}

/*-----------------------------CONTACT----------------------------------*/
.s-contact {
  margin-bottom: 5rem;
}
.contact-location h3,
.contact-phone h3 {
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.s-contact .contact-icon::hover {
  color: var(--title-font-color);
}
.s-contact .email {
  color: var(--blue);
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}
.s-contact .email:hover {
  border-bottom: 1px solid #ffffff;
}
/*-------------------------------FOOTER----------------------------------*/
footer .separator {
  height: 1px;
  width: 100%;
  background-color: var(--border-color);
}
footer {
  padding-bottom: 30px;
}

@media (max-width: 991px) {
  .s-card img {
    opacity: 0.4;
  }
}
@media (max-width: 499px) {
  .s-intro {
    align-items: center;
  }
  .s-intro .intro-image {
    display: none;
  }
  .presentation .intro-image {
    text-align: center;
    display: block;
    order: 2;
  }
  .presentation .intro-image img {
    max-width: 250px;
    justify-content: center;

  }
  .presentation .text-intro__sub {
    font-size: 5rem;
    order: 3;
    margin: 0 0 1rem 0;
  }
  .presentation .text-intro__title {
    font-size: 6rem;
    order: 1;
    margin: 0 0 2rem 0;
  }
  .presentation .text-intro__desc {
    order: 4;
    margin: 0;
  }
}
@media (min-width: 500px) {
  .s-intro .text-intro__title {
    margin-bottom: 2rem;
  }
  /*--------ABOUT----------*/
  .section-intro {
  }
  .presentation .intro-image {
    display: none;
  }
}
@media (min-width: 600px) {
  /*--------INTRO----------*/
  .s-intro .contact-icon {
    padding-right: 3rem;
  }
  .s-intro .text-intro__title {
    margin-bottom: 6rem;
  }
  .s-intro .text-intro__sub {
    margin-bottom: 6rem;
  }

  /*--------ABOUT----------*/
  /*-------CONTACT---------*/
}
@media (min-width: 768px) {
  /*--------HEADER----------*/
  .header-nav-wrap {
    font-size: 1.4rem;
  }
  .navbar-collapse,
  .navbar-collapse .header-nav-main,
  #back-to-top {
    display: none;
  }
  /*--------INTRO----------*/
  .s-intro .contact-icon {
    padding-right: 1rem;
    font-size: 2.5rem;
  }
  /*--------ABOUT----------*/
  .section-intro {
  }
  /*-----INTRO------*/
  .text-intro__sub {
    font-size: 5rem;
    line-height: 4.5rem;
    margin: 0;
  }
  .text-intro__title {
    font-size: 7.5rem;
    margin: 0 0 5rem 0;
  }
  .text-intro__desc {
    font-size: 1.5rem;
  }
  /*-------CONTACT---------*/
}
@media (min-width: 992px) {
  /*--------HEADER----------*/
  .header-nav-wrap {
    font-size: 1.5rem;
  }
  /*--------INTRO----------*/
  .s-intro .contact-icon {
    padding-right: 4rem;
    font-size: 2.5rem;
  }
  .text-intro__sub {
    font-size: 5rem;
    line-height: 5rem;
    margin: 0;
  }
  /*--------INTRO--------*/
  .text-intro__title {
    font-size: 9rem;
    margin: 0 0 5rem 0;
  }
  .text-intro__desc {
    font-size: 1.5rem;
  }
  /*--------ABOUT----------*/
  .section-intro {
  }
  .s-cards > .container {
    width: 75%;
  }
  .s-card h2 {
    opacity: 0;
  }
  .s-card:hover img {
    opacity: 0.5;
  }
  .s-card:hover h2 {
    opacity: 1;
  }
  /*-------CONTACT---------*/

}
@media (min-width: 1200px) {
  /*--------HEADER----------*/
  .header-nav-wrap {
    font-size: 1.5rem;
  }
  /*---------ABOUT--------*/
  .section-intro {
  }
  /*---------INTRO--------*/
  .text-intro__title {
    font-size: 10rem;
    margin: 0 0 5rem 0;
  }
  /*--------CONTACT-------*/
}
@media (max-width: 1024px) {
  .intro-image__bg {
    background-attachment: scroll;
  }
}
@media (max-width: 767px) {
  /*responsive header-intro*/
  .s-header {
    position: static;
  }
  .navbar-toggler span {
    display: block;
    padding-right: 0;
  }
  .header-nav-main {
    display: none;
  }
  .navbar-collapse {
    background-color: var(--background-secondary);
  }
  .header-nav-main.collapse {
    padding: 0 20px;
  }
  .header-nav-main.collapse li {
    margin: 0;
    align-items: center;
  }
  .header-nav-main.collapse li a {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0.8rem 0;
    border-bottom: 1px solid var(--border-color);
  }
  .header-nav-main.collapse li:last-child a {
    border-bottom: none;
  }
  .header-nav-main .icon-collapse{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
    font-size: 2rem;
  }
  .header-nav-main .icon-collapse .contact-icon {
    margin: 0 2rem;
  }
  /*--------INTRO--------*/
  .text-intro__sub {
    font-size: 5rem;
    line-height: 5rem;
  }
  .text-intro__title {
    font-size: 7.5rem;
    margin: 0;
  }
  .section-intro {
    max-width: 100%;
    text-align: left;
  }
  /* Display non on icon-bar and date when width < 768 */
  .s-intro .icon-bar,
  .s-intro .date-time {
    display: none;
  }
  .s-intro .intro-image {
    order: 1;
  }
  .s-intro .presentation {
    order: 2;
  }
  /*--------CONTACT------*/
}
